{% include 'headerusuario.html' %}
{% load static %}
<div class="container mt-2 mf-2">
    <h4 id="Bienvenida">Bienvenido Usuario</h4>
    <h1 id="Titulo-pag">{{ catalogo.nombre }}</h1>
    <p>{{ catalogo.descripcion }}</p>
    {% for producto in productos %}
    <div class="container row-platillo mb-4">
        <div class="row align-items-center">
            <div class="col-md-4">
                <img src="{{ producto.imagen.url }}" class="img-thumbnail foto-producto" alt="{{ producto.nombre }}">
            </div>
            <div class="col-md-8">
                <h3 class="nom-platillos">{{ producto.nombre }}</h3>
                <p><b>Descripción:</b> {{ producto.descripcion }}</p>
                <p><b>Precio:</b> <i>${{ producto.precio }}</i></p>
                <a href="{% url 'agregar_a_carrito' producto.id %}" class="btn btn-success">Agregar al carro</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


