body{
    background: linear-gradient(135deg, #f3650c, #e07822);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}
.container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    max-width: 800px;
    height: 830px;
}
h1 {
    font-family: 'Lobster', cursive;
    color: rgb(236, 139, 64);
    font-size: 2.5em;
}
.JOl{
    color: white;
    font-weight: 500;
    text-shadow: 2px 2px 3px rgba(155, 4, 255, 0.5);
}
.shamrock {
    font-size: 3em;
    color: #f69724;
}
h5{
    color: rgba(244, 155, 38, 0.99);
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.admin{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.añadirAdmin{
    position: relative;
    right: 150px;
    bottom: 1px;
}
.ActuAdmin{
    position: relative;
    right: 50px;
    bottom: 38px;
}
.ConsulAdmin{
    position: relative;
    left: 60px;
    bottom: 76px;
}
.DeshaAdmin{
    position: relative;
    left: 170px;
    bottom: 114px;
}
.repa{
    position: relative;
    bottom: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.añadirRepa{
    position: relative;
    
    bottom: 105px;
}
.Sucu{
    position: relative;
    bottom: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.añadirSucu{
    position: relative;
    right: 150px;
    bottom: 95px;
}
.ActuSucu{
    position: relative;
    right: 50px;
    bottom:131px;
}
.ConsulSucu{
    position: relative;
    left: 58px;
    bottom: 170px;
}
.DeshaSucu{
    position: relative;
    left: 173px;
    bottom: 207px;
}
.Platillo{
    position: relative;
    bottom: 194px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.añadirPlat{
    position: relative;
    right: 150px;
    bottom: 195px;
}
.ActuPlat{
    position: relative;
    right: 50px;
    bottom: 231px;
}
.ConsulPlat{
    position: relative;
    left: 58px;
    bottom: 269px;
}
.DeshaPlat{
    position: relative;
    left: 173px;
    bottom: 307px;
}
.Catalogo{
    position: relative;
    bottom: 290px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.añadirCata{
    position: relative;
    right: 150px;
    bottom: 300px;
}
.ActuCata{
    position: relative;
    right: 50px;
    bottom: 337px;
}
.ConsulCata{
    position: relative;
    left: 58px;
    bottom: 374px;
}
.DeshaCata{
    position: relative;
    left: 173px;
    bottom: 412px;
}
.volver{
    position: relative;
    left: 10px;
    bottom: 370px;
    
}