body {
    background: linear-gradient(135deg, #32CD32, #FFD700);
}
nav {
    background-color: aliceblue;
}
.container {
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}
.navbar-derecha {
    margin-right: 30px;
}

.shamrock {
    font-size: 1.5em;
    color: #FFD700;
}

#Bienvenida {
    text-align: left;
}
.titulo-categoria, .nom-platillos {
    font-family: 'Lobster', cursive;
}

#Titulo-pag{
    font-family: 'Lobster', cursive;
    margin-bottom: 15px;
}