{% include 'headerusuario.html'%}
{% load static %}
<div class="container mt-5">
    <h1 class="logo">Ferretex</h1>
    <h1 class="logo">Ingresar producto</h1>
    {% if form.errors %}
        <div class="alert alert-danger">
            {% if form.nombre.errors %}
                {% for error in form.nombre.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endif %}
            {% if form.codigo.errors %}
                {% for error in form.codigo.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endif %}
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-success mt-3" value="Ingresar producto">
        <a href="{% url 'login' %}" class="btn btn-success mt-3">Volver</a>
    </form>
</div>
</body>
</html>


