{% include 'headeradmin.html' %}
{% load static %}
    <div class="container mt-5">
        <div class="shamrock">🛠️</div>
        <div id="contenido">
            <h4 id="nom">{{sucursal.nombre}}</h2>
            <p id="dir"><b>Direccion: </b>{{sucursal.direccion}}</p>
            <p id="fon"><b>Fono:</b>{{sucursal.fono}}</p>
            <img src="{{sucursal.imagen.url}}" alt="Imagen de la sucursal" class="img-fluid foto-sucursal" id="img">
        </div>
        <a href="{% url 'lista_sucursales' %}" class="btn btn-success">Volver</a>
    </div>
{% include 'footer.html' %}