{% include 'headeradmin.html' %}
{% load static %}
    <div class="container mt-5">
            {% if sucursales %}
            {% for sur in sucursales %}
            <div class="container row-lista">
                <div class="row">
                    <div class="col">
                        <img src="{% static 'img/200x200.png' %}" class="img-thumbnail foto-lista" alt="imagen" >
                    </div>
                    <div class="col">
                        <h3 class="nom">{{sur.nom}}</h3>
                        <p class="dir"><b>Direccion: </b>{{sur.direccion}}</p>
                        <a href="../consultar_sucursal/{{sur.id}}" class="btn btn-success"><i class="bi bi-eye"></i></a>
                        <a href="../modificar_sucursal/{{sur.id}}" class="btn btn-warning"><i class="bi bi-pencil"></i></a>
                        <a href="../deshabilitar_sucursal/{{sur.id}}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                    </div>
                </div>
            </div> 
            {%endfor%} 
            {%else%}
            <h1 id="Titulo-pag">No hay sucursales!</h1>
            {%endif%}
            <a href="../ingresar sucursal" class="btn btn-success"><i class="bi bi-plus-circle"></i></a>
    </div>
{% include 'footer.html' %}