{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LuckFoody - Carrito</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles_carrito.css' %}">

</head>
<body>
    <div class="container mt-5">
        <h1>Ferretex</h1>
        <img src="https://img.icons8.com/ios-filled/50/FF8C00/wrench.png" alt="llave inglesa">
        <div class="container barra_busqueda">
            <form method="post">
                <div class="input-group">
                    <input type="text" placeholder="Ingrese el ID" id="BarraBusqueda" class="form-control">
                    <input type="submit" value="Buscar" class="btn btn-success" id="btnBuscar">
                </div>
            </form>
        </div>
        {% if carrito %}
        <h4 style="text-align: left; margin:10px;">{{can_encontrado}} resultado:</h4>
        {{for ped in carrito}}
        <div class="container pedido_row">
            <h4 class="titulo"><b>ID:{ped.id}; Fecha:}</b></h4>
        </div>
        {% endif %}
        <!-- Ejemplo de pedido en compra -->
        <!-- 
        <div class="container pedido_row">
            <h4 class="titulo"><b>ID: ;Fecha; Hora-de-pedido</b></h4>
            <p><b>Direccion: </b></p>

            <p><b>Lista de platillos:</b></p>
            <ul>
                <li>A, <i>$0</i></li>
                <li>B, <i>$0</i></li>
                <li>C, <i>$0</i></li>
            </ul>
            <p><b>Descuenta: %0</b></p>
            <p><b>Total:</b><i>$0</i></p>
            <p><b>Estado: </b><i class="bi bi-house"> Entregado</i></p>
        </div>
        -->

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>