{% include 'header-repartidor.html' %}
{% load static %}
    <!--botones arriba para que el repartidor pueda administrar su cuenta-->
    <!--Abajo estaría para tomar el pedido, dos tablas, una de pedidos generales y otra de pedidos 
    que tomo el repartidor-->

    <div class="container mt-5">
        <h1>Ferretex</h1>
        <div class="shamrock">🛠️</div>
        
        <div>
            <h4 class="generales">Pedidos Generales</h4>
            <table class="table table-striped status">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Fecha y Hora</th>
                        <th>Dirección</th>
                        <th>Usuario</th>
                        <th>Total</th>
                        <th colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ped in ped_generales %}
                    <tr>
                        <td>{{ped.id}}</td>
                        <td>{{ped.fechainicio}}</td>
                        <td>{{ped.direccion}}</td>
                        <td>{{ped.usuario.nombre}}</td>
                        <th>{{ped.total}}</th>
                        <td>
                            <a href="{% url 'aceptar_pedido' ped.id %}" class="btn btn-success ">
                                <i class="bi bi-basket boton"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
             </table>

             <h4 class="pedidoss">Pedidos Aceptados</h4>
             <table class="table table-striped pedidos">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Fecha y Hora</th>
                        <th>Dirección</th>
                        <th>Usuario</th>
                        <th>Total</th>
                        <th colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ped in ped_aceptados %}
                    <tr>
                        <td>{{ped.id}}</td>
                        <td>{{ped.fechainicio}}</td>
                        <td>{{ped.direccion}}</td>
                        <td>{{ped.usuario.nombre}}</td>
                        <th>{{ped.total}}</th>
                        <td>
                            <a href="{% url 'entregar_pedido' ped.id %}" class="btn btn-success ">
                                <i class="bi bi-basket-fill boton"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
             </table>
            </div>    
        </div>
    </div>
{% include 'footer.html' %}