{% include 'headerusuario.html' %}
{% load static %}
<div class="container mt-2 mf-2">
    <h4 id="Bienvenida">Bienvenido Usuario</h4>
    <h1 id="Titulo-pag">Catalago de Productos</h1>
    <div id="catalogo">
        <!-- aqui empezaria el bucle para las categorias-->
        <div class="container mt-2 mf-2 categoria">
            <h2 class="titulo-categoria">categoria</h2>
            <!-- aqui empieza el bucle para los platillos-->
            <div class="container row-platillo">
                <div class="row">
                    <div class="col">
                        <img src="{% static 'img/200x200.png' %}" class="img-thumbnail foto-platillo" alt="imagen" >
                    </div>
                    <div class="col">
                        <h3 class="nom-platillos">Nombre Producto</h3>
                        <p><b>Descripcion:</b>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Ut enim ad minim veniam</p>
                        <p><b>Precio:</b> <i>$0000</i></p>
                        <a href="#" class="btn btn-success">Ver más</a>
                    </div>
                </div>
            </div>  
            <!-- aqui finaliza el bucle para los platillos -->
        </div>
        <!-- aqui finaliza el bucle para las categorias-->
    </div>
</div>
{% include 'footer.html' %}
