{% include 'header-repartidor.html' %}
{% load static %}



    <!--botones arriba para que el repartidor pueda administrar su cuenta-->
    <!--Abajo estaría para tomar el pedido, dos tablas, una de pedidos generales y otra de pedidos 
    que tomo el repartidor-->

    <div class="container mt-5">
        <h1>Ferretex</h1>
        <div class="shamrock">🛠️</div>
        
        <div>
            <h4 class="generales">Pedidos Generales</h4>
            <table class="table table-striped status">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Hora</th>
                        <th colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <button class="btn btn-success"><i class="bi bi-plus-lg"></i></button>
                           
                        </td>
                        <td>
                            <button class='btn btn-warning'><i class="bi bi-x-lg"></i></button>
                           
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    
                </tbody>
             </table>

             <h4 class="pedidoss">Pedidos Aceptados</h4>
             <table class="table table-striped pedidos">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Hora</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        
                        <td>
                            <button class='btn btn-warning'><i class="bi bi-hand-thumbs-up"></i></button>
                           
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    
                </tbody>
             </table>
                
            <button class="btn btn-warning back">Volver</button>
            
            </div>    
        </div>
    </div>
{% include 'footer.html' %}