{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LuckFoody - Pago Exitoso</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles_pago_exitoso.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h1>Ferretex</h1>
        <div class="shamrock">🛠️</div>
        <p style="font-family: 'Lobster', cursive; color: green;">Pago cargado exitosamente</p>
        <table class="table table-striped">
            <tr>
                <th>Fecha de inicio</th>
                <td>{{pedido.fechainicio}}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{pedido.direccion}}</td>
            </tr>
            <tr>
                <th>Descuento</th>
                <td>{{pedido.descuento}}</td>
            </tr>
            <tr>
                <th>Fecha de inicio</th>
                <td>{{pedido.fechainicio}}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{pedido.total}}</td>
            </tr>
            <tr>
                <th>Espere a que su pedido sea tomado</th>
            </tr>
            <!--
            <tr>
                <th>Nombre del Cliente</th>
                <td>Juan Pérez</td>
            </tr>
            <tr>
                <th>Detalles del Pedido</th>
                <td>Combo Familiar</td>
            </tr>
            <tr>
                <th>Alimentos</th>
                <td>Pizza, Ensalada, Bebida</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>$25.000</td>
            </tr>
            <tr>
                <th>direccion</th>
                <td>victoria maquena 1091</td>
            </tr>
            <tr>
                <th>tiempo estimado</th>
                <td>40 minutos</td>
            </tr>
            -->
        </table>
        <a href="{% url 'pagina_principal' %}">Volver</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
